body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
/* intro section start */
#intro{}
.intro-details{
    width: 45%;
    float: left;
    padding: 3%;
}
.intro-details h1 span{
    color: orange;
}
.intro-details p{
    color: #757575;
}
.intro-details a{
    background-image: linear-gradient(60deg,yellow, orange);
    padding:10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;

}
.intro-image{
    width: 40%;
    float: left;
}
.intro-image img{
    max-width: 100%;
    height: auto;
}